PORT=4000
HOST=0.0.0.0
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:3000
MONGODB_URI=your_mongodb_connection_string
MONGODB_DB=bluemind_web_service
EMAIL_TO=admin@xn--bluemndwebservice-gvc.com
EMAIL_FROM=admin@xn--bluemndwebservice-gvc.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=admin@xn--bluemndwebservice-gvc.com
SMTP_PASS=your_smtp_app_password
